.boxModel {
    background-color: black;
    color: white;
    height: 3em;
}


section {
    margin-top: 1rem;
}

.hide 
{
    display: none;
}


#profTitle p, #contTitle p {
    font-size: 1.5rem;
}

#profTitle p span, #contTitle p span {
    color: grey;
    text-decoration: underline;
    font-size: .75rem;
}


#introP div:last-child {
    border-right: none;
}

// Media Query for mobile 
@media (min-width: 768px) {


    #introP div {
        border-right: 1px solid #000000;
    }

 }
