footer{

    background-color: #662D91;

    #footerTitle {
        font-weight: bold;
        font-size: 2rem;
        color: #ffffff;
    }
    
    #copyRight {
        font-size: .75rem;
        color: #ffffff;
        padding-top: 1em;
        float: right;
    }

nav{
    
    border-bottom: none;   
    text-align: center;
        
     ul li{
        list-style-type: none;
        display: inline;

                a span {
                    color: #ffffff;
                    font-size: 1.5rem;
                    

                }
        }
    
}

@media (min-width: 1200px) {

nav{
    text-align: none;
    
    ul li a span {
        margin-left: 2.25rem;
    }
}






 }
    

}