nav {
    text-transform: uppercase;
  
    #headName{
      font-size: 1.5rem;
      font-family: "Arial";
      color: #A030E2;
      font-weight: bold;
    }
  
    #navbarResponsive ul li a {
      color: black;
    }
  
    #navbarResponsive ul li a:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    }

    .nav-link {
      text-align: center;
    }
  
  
  }