// * {
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//   }
  
  #mainScroll{
    height:100%;   
    background:#14b5d1;
    font-size:1.3em;
    color:#333;
    font-family:'Open Sans', sans-serif;

    header {
        float:left;
        width:100%;
        padding:2em 4em;
        color:#fff;
        height:calc(100% - 3em);

        h1 {
            margin:0;
        }

        h3 {
            margin:0;
            color: #56dcee;
        }
      }

    section {
        float:left;
        width:100%;
        background:#fff;
        position:relative;
        box-shadow:0 0 5px 0px #333;

        .arrow-wrap {
            position:absolute;
            z-index:1;
            left:50%;
            top:-5em;
            margin-left:-5em;
            background:#111;
            width:10em;
            height:10em;
            padding:4em 2em;
            border-radius:50%;
            font-size:0.5em;
            display:block;
            box-shadow:0px 0px 5px 0px #333;
          }
          
          .arrow {
            float:left;
            position:relative;
            width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 3em 3em 0 3em;
          border-color: #ffffff transparent transparent transparent;
            -webkit-transform:rotate(360deg)
          }
          
            @-webkit-keyframes arrows {
              0% { top:0; }
              10% { top:12%; }
              20% { top:0; }
              30% { top:12%; }
              40% { top:-12%; }
              50% { top:12%; }
              60% { top:0; }
              70% { top:12%; }
              80% { top:-12%; }
              90% { top:12%; }
              100% { top:0; }
            }
            
            .arrow-wrap .arrow {
              -webkit-animation: arrows 2.8s 0.4s;
              -webkit-animation-delay: 3s;
            }
      }
  }
  
  