body {
    height: 100vh;
}
#userlistCom{
cursor: default;
}

.card-rounded {
    background-color: white;
    box-shadow: 5px 5px 20px $roku-purple;
    border: 4px solid $roku-purple;
    padding: 2rem;
    border-radius: 5%;
    margin-top: 2rem;

    img{
        width: 100%;
    }

    h2, p a{
        margin-top: 1rem;
        color: black;

    }
}